/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
	padding: 0;
	margin: 15px 0 0;
    float:right;
    display:inline-block;
}

.dropit:nth-child(3) {
    list-style: none;
  padding: 0;
  margin: 3px 0 0;
    float:right;
    display:inline-block;
}

.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 100px;
    list-style: none;
	padding: 20;
	margin: 20px 0 0;
}

.dropit .dropit-submenu:first-child {
    position: absolute;
    top: 100%;
    right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 100px;
    list-style: none;
  padding: 200px;
  margin: 20px 0 0;
}



.dropit .dropit-open .dropit-submenu {
display: block;
background: #FFFFFF;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
border-radius: 4px;
 }
.dropit .dropit-open .dropit-submenu:after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 0 8px 8px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -8px;
  right: 10px;
 }


 .dropit .dropit-open .dropit-submenu li {
  display: block;
  margin-bottom: 20px;
  margin-left: -12px;

 }


 }
 .dropit .dropit-open .dropit-submenu li:last-child {
  margin-top: 10px;
 }
 .dropit .dropit-open .dropit-submenu li:first-child {
  margin-top: 10px;
 }
 .dropit .dropit-open .dropit-submenu li a {
  color:#34495E;
  text-decoration: none;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-weight:100;
  font-size: 12px;
  line-height: 50%;
 }

body > main > section > div:nth-child(1) > div > ul > li > ul > li:nth-child(1) > a > i {
    padding-right: 10px;
}

body > main > section > div:nth-child(1) > div > ul > li > ul > li:nth-child(2) > a > i {
       padding-right: 10px;
}

body > main > section > div:nth-child(1) > div > ul > li > ul > li:nth-child(3) > a > i {
       padding-right: 10px;
}

