html,
body {
  overflow-x: hidden;
}
body {
  color: #333;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 15px;
  font-weight: 100;
  line-height: 24px;
}

/* HEADER */
header {
  background: #34495E;
  background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
  color: #FFF;
}
header nav {
  padding: 1em 0;
}
header nav ul {
  display: inline;
  float: right;
  margin: 0;
  text-align: right;
}
header nav ul > li {
  display: inline-block;
  list-style-type: none;
  margin: 0 15px;
}
header nav ul > li.btn-outline {
  border: 2px solid #FFF;
  border-radius: 4px;
  padding: 10px 15px;
}
header nav ul > li.btn-outline:hover {
  background: #FFF;
}
header nav ul > li > a {
  color: #FFF;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #34495E;
}


header .hero {
  display: block;
  position: relative;
  text-align: center;
}
header .hero h1 {
  font-size: 40px;
  font-weight: normal;
  margin: 95px 0 0;
}
header .hero p {
  font-size: 20px;
  font-weight: 100;
  line-height: 28px;
  margin: 10px 0 40px;
}
header .hero img {
  display: block;
  margin: 3em auto 0;
}

/* GRID */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: ' ';
  display: table;
}
.container:after {
  clear: both;
}
.one-half,
.one-third,
.one-fourth {
  float: left;
  margin: 0 2% 20px;
  min-height: 1px;
  position: relative;
  width: 96%;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  .hero img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* BUTTONS */
.btn {
  background: #F49622;
  border: 2px solid #F49622;
  border-radius: 4px;
  color: #FFF;
  font-weight: 700;
  padding: 10px 30px;
  text-decoration: none;
}

section div > a.btn-outline {
  align-content: center;
}


/* VIDEO */

video {
  background-color: #696969;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

.videotext h2 {
  color: #3498DB;
  display: flex;
  font-size: 21px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  padding-top: 4em;
}



/* BENEFITS */
.features {
  background: #34495E;
  background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
  display: block;
  position: relative;
  text-align: center;
}
.features ul {
  margin: 0 auto;
  padding: 4em 0;
}
.features ul li {
  display: inline-block;
  list-style-type: none;
}
.features i {
  color: #FFF;
  font-size: 60px;
  margin: 0;
  vertical-align: middle;
}
.features h2 {
  color: #FFF;
  font-size: 22px;
  font-weight: normal;
  justify-content: center;
  margin-bottom: 5px;
  padding: 4em 0 1em 0;
  vertical-align: middle;
}
.features h3 {
  color: #FFF;
}


.feature-name-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features h3 {
  text-align: center;
}

.features p {
  color: #FFF;
  display: flex;
  flex-direction: column;
  padding-top: -60px;
  vertical-align: middle;
  width: 90%;
}

body > main > section.features > p {
  vertical-align: middle;
  text-align: center;
}


.feature-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.featurediv {
  display: flex;
  flex: 1;
  justify-content: space-around;
  vertical-align: middle;
}

.features h2 {
  display: flex;
  justify-content: center;
}



/* PRICING */

.pricing {
  background: url('../images/background.png') top center no-repeat, linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
  background-size: cover;
  padding: 4em 0;
  text-align: center;
}
.pricing h2,
.pricing p {
  color: #FFF;
}
.pricing ul {
  margin: 0 auto;
  padding: 2em 0;
}
.pricing ul li {
  list-style-type: none;
}

.box {
  background: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.20);
  margin-top: 25px;
  min-height: 439px;
  padding: 0 15px 15px;
  position: relative;
}
.box.middle {
  margin-top: 0;
  min-height: 485px;
}
.box h3 {
  background: #E2E2E2;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.40);
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-weight: 700;
  left: 0;
  margin: 0 -15px 40px;
  padding: 10px 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.box h4 {
  color: #F49622;
  font-size: 50px;
  font-weight: normal;
  margin: 40px 0 10px;
}
.box h4 span {
  font-size: 32px;
  vertical-align: top;
}
.box h4 span.month {
  color: #888;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  vertical-align: middle;
}
.box ul li {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
}

.box .btn {
  bottom: 20px;
  left: 20px;
  position: absolute;
  right: 20px;
}

/* TESTIMONIALS */
.testimonials {
  padding: 4em 0;
  text-align: center;
}
.testimonials h2 {
  color: #3498DB;
}
.testimonials ul li {
  list-style-type: none;
}
.testimonials blockquote {
  background: #34495E;
  color: #FFF;
  font-style: italic;
  margin: 0;
  padding: 30px;
  position: relative;
  text-align: left;
  width: auto;
}
.testimonials blockquote:after {
  border: solid transparent;
  border-top-color: #34495E;
  border-width: 10px;
  content: ' ';
  height: 0;
  left: 13%;
  margin-left: -10px;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
}

.testimonials img {
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 65px;
  margin: 20px 10px 0 0;
  width: 65px;
}
.testimonials p.name {
  display: inline-block;
  float: left;
  font-size: 13px;
  margin-top: 30px;
  text-align: left;
}
.box li strong {
  font-weight: 900;
}

.one-fourth:nth-child(even) {
  padding-top: 20px;
}

/* CTA */
@media(min-width: 992px) {
  #cta {
    margin-left: auto;
    margin-right: auto;
  }

  body > main > section.features > p {
  vertical-align: middle;
  text-align: center;
  padding-left: 55px;
}

}
.cta p {
  padding-bottom: 20px;
}


/* FOOTER */
footer {
  background-color: #34495E;
  border-top: 1px solid black;
  color: #FFF;
  height: 150px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}
footer p,
footer nav ul {
  font-size: 14px;
  font-weight: 100;
  margin: 10px auto 0;
  text-align: center;
}
footer nav ul li {
  display: inline;
  list-style-type: none;
}
footer nav ul li a {
  color: #FFF;
  text-decoration: none;
}

footer .logo {
  display: block;
  margin: 0 auto;
  padding: 2.35em 0;
}

@media (min-width: 992px) {
  footer {
    background-color: #FFF;
    background-image: linear-gradient(to left,
    #FFF 0%, #FFF 33.33337%, #34495E 33.33337%, #34495E 100%);
    border-top: 1px solid black;
    height: 100px;
  }
  footer p,
  footer nav ul {
    padding: 2em 0;
    text-align: left;
  }

  footer .logo {
    margin: 0 auto;
    padding: 0 0 2em 5em;
    position: absolute;
  }
}

@media (min-width: 992px) {
  footer .right-footer-block {
    display: hidden;
  }
}


@media (max-width: 992px) {
  footer .right-footer-block {
    display: none;
  }
}

/* Dashboard */
body > main > section > div:nth-child(1) > div > ul > li > ul {
  top:19px;
}

body > main > section > div:nth-child(1) > div > ul > li > ul > li > a {
  margin: 0 auto;
}

.favicon {
  height: 32px;
  width: 32px;
}

/* DASHBOARD */
.dashboard {
  background: #F7F7F7;
}
.left-nav {
  height: 100%;
  position: fixed;
  -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
  -moz-transform: translate(-280px,0); /** Firefox **/
  -o-transform: translate(-280px,0); /** Opera **/
  transform: translate(-280px,0);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 280px;
}
.left-nav.open {
  display: block;
  -webkit-transform: translate(0,0); /** Chrome & Safari **/
  -moz-transform: translate(0,0); /** Firefox **/
  -o-transform: translate(0,0); /** Opera **/
  transform: translate(0,0);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 280px;
  z-index: 100;
}
.hamburger {
  background: #0C5580;
  border: 1px white solid;
  border-radius: 4px;
  color: #FFF;
  font-size: 22px;
  left: 5px;
  padding: 10px 15px;
  position: absolute;
  text-decoration: none;
  top: 20px;
  z-index: 1000;
}

@media (min-width:992px) {
  .left-nav {
    background: #0C5580;
    color: #FFF;
    display: block;
    float: left;
    height: 100vh;
    position: fixed;
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -moz-transform: translate(0,0); /** Firefox **/
    -o-transform: translate(0,0); /** Opera **/
    transform: translate(0,0);
    width: 14.66666667%;
  }
  .left-nav.open {
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -moz-transform: translate(0,0); /** Firefox **/
    -o-transform: translate(0,0); /** Opera **/
    transform: translate(0,0);
    width: 14.66666667%;
  }
  .hamburger {
    display: none;
  }
}

.left-nav .site-logo {
  background: #0C5580;
  display: inline-flex;
  text-align: center;
}

.left-nav img {
  height: auto;
  width: 100%;
}

.left-nav img:nth-child(2) {
  display: none;
  width: 100%;
}

.dropit .dropit-open .dropit-submenu{
  height: 100px;
}
body > main > section > div:nth-child(1) > div > ul > li > ul > li a {
  margin: auto 0;
}

.dropit .dropit-open .dropit-submenu li {
    display: block;
    margin-left: -12px;
    line-height: 31px;
    margin: 5px auto auto auto;
}

.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    min-width: 100px;
    list-style: none;
    margin: 20px 0 0;
    padding: -2px;
    height: 100px;
}

.dropit .dropit-open .dropit-submenu li:first-child {
    margin: auto;
  }
.left-nav .items {
  padding: 0 6%;
}
.left-nav .items p {
  color: #E2E2E2;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
}
.left-nav .items ul {
  margin: 0 0 40px;
  padding: 0;
}
.left-nav .items ul li {
  list-style-type: none;
  margin-bottom: 15px;
}
.left-nav .items ul li a {
  color: #FFF;
  font-size: 14px;
  font-weight: lighter;
  line-height: 19px;
  text-decoration: none;
}
.left-nav .items ul li a i {
  margin-right: 8px;
  text-align: center;
  width: 16px;
}

/* LEFT NAVBAR SETTINGS */
.left-nav .settings {
  background: #22303E;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  position: absolute;
  right: 0;
  width: 100%;
}
.left-nav .settings img {
  border-radius: 50%;
  display: inline-block;
  height: 35px;
  margin-left: 10px;
  width: 35px;
}
.left-nav .settings p {
  display: inline-block;
  font-size: 12px;
  font-weight: 700
  color: #E2E2E2;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding-top: 8px;
  vertical-align: top;
}
.left-nav .settings a {
  color: #FFF;

  margin-right: 10px;
  margin-top: 8px;
  text-align: right;
  text-decoration: none;
}

.view:active {
  background-color: #22303E;
  height: 25px;
  justify-content: center;
  padding-top: 5px;
  width: 100%;
}

.menu .menu--top {
  top: -200px;
}



.menu .dropit-open .dropit-submenu.menu--top::after {
 content: " ";
    position: absolute;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 140px;
    right: 8px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

 #left-nav > div.settings > ul > li > ul {
  height: 100px;
  top: -170px;
}

#left-nav > div.settings > ul > li {
top: 8px;

}

#left-nav > div.settings > ul > li > ul > li {
  margin: auto 0;
  line-height: 25px;
}

#left-nav.open {
  background-color: #0C5580;
}

#left-nav > div.items {
  background-color: #0C5580;
}

#left-nav > div.settings {
  color: #FFF;
}

/* CONTENT */

body > main > section > p {
  padding-left: 2em;
}
.content {
  float: right;
  padding: 6em 1% 1.5em;
  position: relative;
  width: 98%;
}
.content .header {
  margin: 0 1% 20px;
}
.content .header h1 {
  color: #3498DB;
  display: inline-block;
  float: left;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 100;
  line-height: 44px;
  margin: 0 0 30px;
  position: relative;
}
.content .header > a {
  float: right;
}
.content-item {
  display: block;
  float: left;
  margin: 0 2% 25px;
  width: 96%;
}
.item-box {
  background: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.40);
  display: block;
  height: 230px;
  overflow: hidden;
  position: relative;
}



body > main > section > div > div > div  p {
  text-align: center;
}


body > main > section > div:nth-child(3) > div:nth-child(3) > div > h2 {
  padding-top: 19px;
  text-align: center;
}



body > main > section > div:nth-child(3) > div:nth-child(7) > div > h2 {
  padding-top: 19px;
  text-align: center;
}


body > main > section > div:nth-child(3) > div:nth-child(9) > div > h2 {
  padding-top: 19px;
  text-align: center;
}

/* MEDIA QUERIES */

/* Larger Mobile Devices */
@media (min-width:460px) {
  .content {
    float: right;
    padding: 1.5em 1%;
    position: relative;
    width: 90%;
  }
  .content-item {
    display: block;
    float: left;
    margin: 0 2% 25px;
    width: 46%;
  }
}
/* Tablets */
@media (min-width:768px) {
  .content {
    float: right;
    padding: 1.5em 5%;
    position: relative;
    width: 90%;
  }
  .content > .container {
    width: 700px;
  }
  .content-item {
    margin: 0 1% 25px;
    width: 31.33333%;
  }

  .item-box > img {
    height: 100%;
    padding: -20px;
    width: 100%;
  }
}
/* Laptops and Desktops */
@media (min-width:992px) {
  .content {
    float: right;
    padding: 1.5em 1%;
    position: relative;
    width: 83.33333333%;
  }
  .content > .container {
    width: auto;
  }
  .content-item {
    margin: 0 1% 25px;
    width: 23%;
  }


  .item-box > img {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
}

.item-box h2 {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 17px;
  margin: 0;
}

.item-box h2 a {
  color: #F49622;
  font-size: 18px;
  font-weight: 24px;
  text-decoration: none;
}
body > main > section > p {
  position: relative;
}

.item-box p {
  color: #333;
  font-size: 14px;
  line-height: 18px;
  margin: 5px 0 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;

}

/* ADD */
#left-nav > div.settings > ul {
  float: right;
}